

header {   text-align: center;
}

header h1{  margin-bottom: 0em;
            
}

header h2 { margin-top: 0em;
}



.main-content {
width: 85%;
margin: 0 auto

}

.item { display: inline-block;
        width: 33%;



}

.info { font-size: 1.33em
}

.info input{  font-size: .75em;
              font-weight: normal;
              width: 3em;

}

.group_calc { font-size: 1.33em;
              margin-top: 2em;

}

.group_calc input{  font-size: .75em;
                    font-weight: normal;
                    width: 7em;
}


/*#results { font-size: 1.5em;
          font-weight: normal;
          margin-top: 0em;

          width: 7em;
}

#results h2 { margin-bottom: .25em; 


}*/


.invoice { display: inline-block;        
          font-size: 1.5em;
          font-weight: normal;
          margin-top: 0em;

}

.invoice h2 { margin-bottom: .5em




